.toolbar-button
  height: 4vh;
  color: var(--default-color);
  float: left;
  text-align: center;
  padding: 0 0.8vh;
  //padding-top: 0.8vh;
  //padding-bottom: 0.8vh;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome and Opera */

  .toolbar-button-label
    font-size: 1vh;
    font-weight: 500;

  .expand-caret
    width: 0.67vh;
    height: 0.67vh;
    transform: translate(0.16vh, 0.16vh);

  svg
    height: 2vh;
    width: 2vh;
    margin: 0.2vh;

  &:hover
    color: var(--hover-color);

  &.active, &:active
    color: var(--active-color);
